:root{
    --clr-primary-darkGray: #a1a1a1;
    --clr-primary-black: #000000;
    --clr-primary-white: #ffffff;
    --clr-primary-veryDarkGray: #454545;

    --ff-primary: 'Spartan', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    font-size: 12px;
}
html, body{
    overflow-x: hidden;
}

.container{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    animation-name: start;
    animation-duration: 1.5s;
}
.img{
    width: 60%;
    height: 75%;
    display: flex;
    background-image: url("../img/desktop-image-hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 2rem;
    padding-block: 4rem;
    padding-bottom: 0;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}
.info{
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0;
    padding-inline: 6em;
    height: 55%;
    transition: 1s linear;
}
.info h1{
    font-size: 3em;
    margin-block: 1em;
}
.info p{
    color: var(--clr-primary-darkGray);
    width: 80%;
    line-height: 1.7;
}
.info-lower{
    width: 30%;
}
.info, .info-lower{
    animation-name: appear;
    animation-duration: 5s;
}
ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: min-content;
}
h3{
    font-size: 2em;
    vertical-align: center;
}
ul, li a{
    color: var(--clr-primary-white);
}
ul h3{
    align-self: flex-start;
}
nav{
    display: flex;
    width: 60%;
}
.button-container{
    width: 18%;
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    align-self: flex-end;
    background-color: var(--clr-primary-black);
    transform: translate(117%);
}
.button-container button{
    padding: 2em;
    width: 50%;
    background: transparent;
    margin: 0;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--clr-primary-black);
    margin-top: 2em;
    transition: 0.2s linear;
}
.info a{
    letter-spacing: 8px;
    font-weight: 600;
    transition: 0.2s linear;
}
.info a>img{
    transition: 0.2s linear;
}

.info a:hover{
    letter-spacing: 10px;
}
.info a:hover img{
    transform: translateX(50%);
    transition: 0.2s linear;

}
.text{
    padding: 5em;
    width: 40% !important;
}
.text h5{
    letter-spacing: 4px;
    margin-block: 1rem;
}
.text p{
    color: var(--clr-primary-darkGray);
    line-height: 1.5;
}
.info-lower{
    width: 30%;
}
.info-lower img{
    width: 100%;
    height: 100%;
}
ul li:hover{
    transform: scale(1.2);
}
button:hover{
    animation: moveRight 0.5s infinite alternate forwards;
}

@media(max-width:375px){
    .container{
        flex-direction: row;
    }
    .img{
        width: 100%;
        padding: 0;
        height: 45%;
        background-image: url("../img/mobile-image-hero-1.jpg");
        justify-content: space-between;
    }
    .button-container{
        transform: translate(0%);
        margin: 0;
    }
    .button-container button{
        padding: 1rem;
    }
    .text{
        width: 100%;
    }
    .info{
        padding-inline: 1.6em;
        justify-content: center;
    }
    .info h1{
        font-size: 2.5rem;
    }
    .info, .info p, .info-lower, .text, .text p{
        width: 100% !important;
    }
}
@keyframes start{
    0%{
        opacity: 0;
        transform: translateX(200%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes moveRight{
    from{
        transform: translateX(0%);
    }to{
        transform: translateX(10%);
    }
}